main, section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  justify-self: center;
  width: 100%;
  justify-content: space-evenly;
}

section {
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
}

app-card-front {
  align-self: flex-start;
}
app-card-back {
  align-self: flex-end;
}

app-card-front, app-card-back {
  filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 0.25));
}