* {
  color: white;
}

main {
  background-image: url('/assets/images/bg-card-back.png');
  background-repeat: no-repeat;
  min-height: 16rem;
  min-width: 28rem;
  padding: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

p {
  margin-bottom: .75rem;
}