main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img, p {
  margin-bottom: 1rem;
}

h1 {
  text-transform: uppercase;
}

p {
  font-weight: 500;
  color: hsl(279, 6%, 55%)
}